<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/style.css" type="text/css">

{% block body %}

<form action="/create" method="post">
    <div class="detect">
        <div class="detect-screen">
            <div class="form-group">
                <label for="email">Resource Group Name:</label>
                <input class="form-control" type="text" id="rgname" name="rgname">
            </div>
            <div class="form-group">
                <label for="email">DataFactory Name:</label>
                <input class="form-control" type="text" id="dfname" name="dfname"><br>
            </div>
            <div class="form-group">
                    <label for="email">Views (comma seprated) in form "schema.viewname"</label>
                    <input class="form-control" type="text" id="viewlist" name="viewlist"><br>
            </div>
            <div class="form-group">
                <label for="email">Subscription ID:</label>
                <input class="form-control" type="text" id="subscriptionid" name="subscriptionid"><br>
            </div>
            <div class="form-group">
                <label for="email">Client ID:</label>
                <input class="form-control" type="text" id="clientid" name="clientid"><br>
            </div>
            <div class="form-group">
                <label for="email">Tenant ID:</label>
                <input class="form-control" type="text" id="tenantid" name="tenantid"><br>
            </div>
            <div class="form-group">
                <label for="email">Secret Key:</label>
                <input class="form-control" type="password" id="secret" name="secret"><br>
            </div>
            <div class="form-group">
                <label for="email">SAP HANA ODBC Connection String:</label>
                <input class="form-control" type="password" id="hana_con_string" name="hana_con_string"><br>
            </div>
            <div class="form-group">
                <label for="email">SQL Connection String:</label>
                <input class="form-control" type="password" id="sql_con_string" name="sql_con_string"><br>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
{% endblock %}